{% load static %} 
<header>
    <img src="{% static 'img/logo.png' %}" alt="">
</header>

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'menu' %}">Menu</a></li>
        <li><a href="{% url 'book' %}">Book</a></li>
        

        {% if user.is_authenticated and user.is_staff %}
        <li><a href="{% url 'book_list' %}">Book List</a></li>
        {% endif %}
        
        {% if user.is_authenticated %}
        
        <li><a href="{% url 'logout_view' %}">Logout</a></li>

        {% else %}
        <li><a href="{% url 'login_view' %}">Login</a></li>
        <li><a href="{% url 'sign_up' %}">Sign Up</a></li>
        {% endif %}

        
        
        
        
    </ul>

    
</nav>