{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card">
    <h1>Welcome {{user}}</span></h1>
    <p>Add your tasks today. All the Best Today!!!!</p>

<div class="container">
    <h2>To-Do Task</h2>
    {% for item in todo %}
    <li class="item{% if item.complete %} completed {% else %} incomplete {% endif %}">
        <a href="#" data-toggle="modal" data-target="#taskModal{{ item.id }}" style="text-decoration: none;">{{ item.title }}</a>

        <div>
            {% if item.complete %}
            <a href="{% url 'mark_task_incomplete' pk=item.pk %}"><button class="edit-btn">Mark as Incomplete</button></a>
            {% else %}
            <a href="{% url 'mark_task_complete' pk=item.pk %}"><button class="edit-btn">Mark as Complete</button></a>
            <a href="{% url 'edit_task' pk=item.pk %}"><button class="edit-btn">Edit</button></a>
            <a href="{% url 'delete_task' pk=item.pk %}"><button class="edit-btn">Delete</button></a>
            {% endif %}
        </div>
    </li>
    <div class="modal fade" id="taskModal{{ item.id }}" aria-labelledby="exampleModalLabel" data-backdrop="false">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{item.title}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{item.description}}</p>
              <p>Created: {{item.created}}</p>
            </div>
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
  </div>
  <div>

    <a href="{% url 'add_item' %}" class="edit-btn add-btn">Add</a>
    <a href="{% url 'logout_view' %}" class="edit-btn add-btn">Logout</a>

  </div>
</div>


{% endblock %}