{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
  <article>
    <h1>Add Menu</h1>
    <!--Begin row-->
    <div class="row">
      <!--Begin col-->
      <div class="column">
        <form action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" id="button">
        </form>
      </div>
      <!--End col-->

      <!--Begin col-->
      <div class="column">
        <div class="">
            <img src="{% static 'img/chefs.png' %}" alt="Image" width="400px" height="500px" >
          
        </div>
      </div>
      <!--End col-->
    </div>
    <!--End row-->




  </article>
</section>
{% endblock %}