{% extends 'base.html' %}

{% load static %}
{% block content %} 

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    th {
        color: chocolate;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<h1>Menu</h1>

<div class="column">
    <!-- Step 14: Create for loop -->
    <table>
        <tr>
            <th>Name</th>
            <th>Number of Guests</th>
            <th>Comment</th>
        </tr>

        {% for item in book_list %}
        <tr>
            <td>{{item.first_name}} {{item.last_name}}</td>
            <td>{{item.guest_number}}</td>
            <td>{{item.comment}}</td>
        </tr>
        {% endfor %}
    </table>
    
    
</div>


{% endblock %}